@import url('https://fonts.cdnfonts.com/css/calculator');

body {
    display: flex;
    align-items: center;
    height: fit-content;
    background: linear-gradient(45deg, black, gray);
    text-align: center;
    flex-direction: column;
}

h2 {
    color: azure;
    font-family: 'Calculator', sans-serif;
    font-size: 45px;
}

.container {
    margin-top: 0;
    border: none;
    height: fit-content;
    width: 300px;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, rgb(140, 15, 145), rgb(0, 0, 0));
}

.screen {
    border: none;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 50px;
    font-family: 'Calculator', sans-serif;
    width: auto;
}

input {
    text-align: end;
    background: transparent;
    color: rgb(255, 251, 251);
}

input::placeholder {
    color: rgb(255, 255, 255);
}

.buttons {
    margin: 10px;
    margin-top: 0;
    border: none;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(5, 70px);
    justify-content: center;
    align-items: center;
    justify-items: center;
}

button {
    border: none;
    color: white;
    font-weight: 500;
    font-size: 30px;
    border-radius: 50px;
    height: 60px;
    width: 60px;
}

button:hover {
    cursor: pointer;
}

button.equals {
    grid-column: span 2;
    width: 135px;
}

.operators {
    background-color: orangered;
    border: none;

}

.non-op,
.num {
    color: black;
}

.comment {
    margin-top: 8px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    background: transparent;
}
